:root {

    font-size: 62.50%;

    /* - Colors - */
    --color-primary: #fff;
    --color-light-gray: #d7d7d7;
    --color-bg: #000;
    --color-button: blueviolet;
    --color-button-hover: #9257ac;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;

    display: grid;
    place-content: center;
    
    margin: 10vh 0;
    color: var(--color-primary);

    background-color: var(--color-bg);
}

.container {
    width: 80%;
    max-width: 60rem;
}

.container img {
    display: block;
    margin: 0 auto 4rem;
}

.container h1 {
    font-size: 4.2rem;
    line-height: 5.2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-primary);
}

.container p {
    text-align: center;
    font-size: 1.8rem;
    margin: 0 auto 4rem;
    color: var(--color-primary);
    width: 90%;
}

.container input {
    display: block;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    color: #333;
    border-radius: 4px;
    margin-bottom: 2rem;
    border: none;

    outline: none;
}

.container input:focus {
    box-shadow: 2px 2px 16px 4px rgba(182, 58, 231, 0.5);
}

.container button {
    width: 100%;
    padding: 2rem;
    border: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--color-primary);
    background-color: var(--color-button);
    border-radius: 4px;

    cursor: pointer;
    transition: all 250ms ease-in;
}

.container button:hover {
    background-color: var(--color-button-hover);
}

.container h3 {
    text-align: center;
    margin-top: 3rem;
}

#resposta {
    transition: opacity 1s;
}

#resposta div {
    font-size: 1.6rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 1rem;
}